.typing-effect {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    width: 0;
    animation: typing 4s steps(10) 1s forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}